

<header class="overflow-hidden background-img">
  <div class="bg-[#012e5a] h-10 info-font w-[100%]"></div>

  <div class="mr-auto ml-auto px-[400px] pr-[400px] pt-7 flex gap-[10vw]">
    <div class="align-middle">
      <a href="https://lms.goodgradestudent.com/"
        ><img src="../../../assets/Images/good.webp" alt="" class="w-64 h-auto"
      /></a>
    </div>
    <div>
      <ul
        class="flex flex-wrap gap-[2vw] mt-5 text-black font-[Roboto, sans-serif] text-base font-medium"
      >
      <li class="home-nav">
        <a [routerLink]="['/home']">HOME</a>
      </li>
        <li class="home-nav"><a [routerLink]="['/coursepage']">COURSES</a></li>
        <li class="home-nav"><a href="/about-us">ABOUT US</a></li>
        <li class="home-nav"><a [routerLink]="['/cont']">CONTACT US</a></li>
        <li class="home-nav">
          <a href="https://lms.goodgradestudent.com/shop/">LIBRARY</a>
        </li>
        <li>
          <a [routerLink]="['/addcourse']"
            ><mat-icon>favorite_border</mat-icon></a
          >
        </li>
        <li>
          <span
            class="border-solid border-[3.3px] border-x-white text-[20px] search-icon"
            ><mat-icon class="py-1 font-medium">search</mat-icon></span
          >
        </li>
      </ul>
    </div>
  </div>
</header>



<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>
<!-- header section -->

<div class="bg-[#F6F6F6] mt-10">
  <hr class="h-1 bg-[#DDDDDD]" />
  <p class="text-[#aaaaaa] pl-[360px] mb-99px pb-2 pt-[9px] txt-main text-xs">
    <a href="">GOODGRADESTUDENT<span>&nbsp;</span>><span>&nbsp;</span></a
    >ABOUT US
  </p>
</div>
<!-- body -->
<section
  class="flex flex-col sm:px-[90px] sm:flex-row px-8 2xl:px-[360px] xl:px-[120px] lg:px-[80px] py-10 txt-main"
>
  <div class="w-full lg:w-1/2 md:w-1/2 pr-[7px]">
    <div class="font-bold text-3xl txt-main">Welcome to Creavers!</div>
    <br />
    <p class="block my-4 mx-0">
      We provide long standing experience for online teaching and learning by
      highly experienced instructors, for students who want to deepen their
      knowledge.
    </p>
    <br />
    <p class="block my-4 mx-0 :">
      School is live 24 hours everyday with full tutoring, refresher courses for
      those in need. Online quizzes and exams. Pursue your academic and
      professional goals by taking online courses on a schedule that fits your
      convenience.
    </p>
    <br />
    <h1 class="font-bold txt-main">Why choose us?</h1>
    <div class="text-[#91A4B8] txt-main">
      <p>
        <a href=""
          ><i class="far fa-fa fa-thumbs-up text-yellow-300 mt-4"></i
          ><span>&nbsp;&nbsp;&nbsp;</span>Get organized and stay organized</a
        >
      </p>

      <p>
        <a href=""
          ><i class="far fa-fa fa-thumbs-up text-yellow-300 mt-4"></i
          ><span>&nbsp;&nbsp;&nbsp;</span>Online certificate which can be used
          worldwide</a
        >
      </p>
      <p>
        <a href=""
          ><i class="far fa-fa fa-thumbs-up text-yellow-300 mt-4"></i
          ><span>&nbsp;&nbsp;&nbsp;</span>24*7 service</a
        >
      </p>
      <p>
        <a href=""
          ><i class="far fa-fa fa-thumbs-up text-yellow-300 mt-4"></i
          ><span>&nbsp;&nbsp;&nbsp;</span>Result oriented lessons</a
        >
      </p>
    </div>

    <br />
    <img
      srcset="
      ../../../assets/Images/aboutus/aboutus .webp
      "
      class="vc_single_image-img"
      src="https://lms.goodgradestudent.com/wp-content/uploads/2018/05/course_image-570x308.jpg"
      width="570"
      height="308"
      alt="masterstudy_placeholder"
      title="course_image"
    />
  </div>

  <div class="flex-1 lg:w-1/2 pl-[7px] md:w-1/2">
    <img src="../../../assets/Images/aboutus/cre.webp" />

    <div class="bg-[#F8F8F8] mt-14">
      <hr class="h-0.5 bg-[#002E5B]" />
      <p class="font-bold text-center mb-14 pb-[10px] pt-[10px] txt-main">
        CONTACT US
      </p>
    </div>
    <form [formGroup]="feedbackForm" class="" (ngSubmit)="submitForm($event)">
      <div class="flex flex-col sm:flex-row mb-5 txt-main">
        <input
          class="w-full sm:w-1/2 sm:mr-2 mb-2 sm:mb-0 bg-gray-200 border border-gray-200 rounded py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          type="text"
          formControlName="name"
          placeholder="Your name"
          required
        />
        <input
          class="w-full sm:w-1/2 sm:ml-2 bg-gray-200 border border-gray-200 rounded py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          type="email"
          formControlName="email"
          placeholder="Your email"
          required
        />
      </div>
      <textarea
        class="w-full mt-5 bg-gray-200 border border-gray-200 rounded"
        formControlName="message"
        rows="10"
        required
      ></textarea
      ><br />
      <br />
      <button class="bg-[#002E5B] text-white font-bold py-4 px-12 txt-main">
        SUBMIT
      </button>
    </form>
  </div>
</section>

<!-- Share options -->

<div class="flex flex-wrap justify-center lg:justify-start lg:pl-[400px] pb-5">
  <!-- Facebook Share -->
  <div class="bg-[#1877F2] w-20 h-5 mr-2 lg:mr-5 rounded mt-1">
    <p class="text-[#e5edfc] text-center">
      <a
        href="https://www.facebook.com/sharer/sharer.php?u=https://lms.goodgradestudent.com/contact-us/"
        rel="nofollow"
        target="_blank"
      >
        <i class="fab fa-facebook-f text-blue-600 bg-white rounded-full pl-1"
          ><span>&nbsp;</span></i
        >
        <span>&nbsp;</span>Share
      </a>
    </p>
  </div>

  <!-- Twitter Share -->
  <div class="bg-[#F7F7F7] w-20 h-7 mr-2 lg:mr-5">
    <hr class="h-0.5 bg-[#1DCAFF]" />
    <p class="text-black text-center rounded border border-gray-200">
      <a
        href="https://twitter.com/intent/tweet?url=https://lms.goodgradestudent.com/contact-us/"
        rel="nofollow"
        target="_blank"
      >
        <i class="fab fa-twitter text-[#1DCAFF]"><span>&nbsp;&nbsp;</span></i>
        Tweet
      </a>
    </p>
  </div>

  <!-- Pinterest Share -->
  <div class="bg-[#F7F7F7] w-20 h-7 mr-2 lg:mr-5">
    <hr class="h-0.5 bg-[#C92228]" />
    <p class="text-black text-center rounded border border-gray-200">
      <a
        href="https://pinterest.com/pin/create/button/?url=https://lms.goodgradestudent.com/contact-us/"
        rel="nofollow"
        target="_blank"
      >
        <i class="fab fa-pinterest text-[#C92228]"><span>&nbsp;&nbsp;</span></i>
        Share
      </a>
    </p>
  </div>

  <!-- LinkedIn Share -->
  <div class="bg-[#F7F7F7] w-20 h-7 mr-2 lg:mr-5">
    <hr class="h-0.5 bg-[#3F729B]" />
    <p class="text-black text-center rounded border border-gray-200">
      <a
        href="http://www.linkedin.com/sharing/share-offsite/?url=https://lms.goodgradestudent.com/contact-us/"
        rel="nofollow"
        target="_blank"
      >
        <i class="fab fa-linkedin text-[#3F729B]"><span>&nbsp;&nbsp;</span></i>
        Share
      </a>
    </p>
  </div>

  <!-- Digg Share -->
  <div class="bg-[#F7F7F7] w-20 h-7 mr-2 lg:mr-5">
    <hr class="h-0.5 bg-[#2169A8]" />
    <p class="text-black text-center rounded border border-gray-200">
      <a
        href="http://digg.com/submit?url=https://lms.goodgradestudent.com/contact-us/"
        rel="nofollow"
        target="_blank"
      >
        <i class="fab fa-digg text-[#2169A8]"><span>&nbsp;&nbsp;</span></i>
        Share
      </a>
    </p>
  </div>
</div>
