<div
  class="w-[1000px] px-[36px] pt-[9px] pb-[7px] bg-neutral-100 justify-start items-center inline-flex"
>
  <div
    class="grow shrink basis-0 h-[22px] pl-[15px] pr-[1018.51px] pt-[3px] pb-1 justify-start items-center inline-flex"
  >
    <div
      class="w-[166.49px] h-[15px] text-neutral-400 text-[11px] font-normal font-['Open Sans'] uppercase leading-snug"
    >
      goodgradestudent > marta
    </div>
  </div>
</div>

<div
  class="w-[1000px] px-[36px] pt-[9px] justify-start items-center inline-flex"
>
  <div
    class="grow shrink basis-0 self-stretch px-[15px] pt-[50.17px] justify-center items-center inline-flex"
  >
    <div
      class="self-stretch flex-col justify-start items-start gap-[50px] inline-flex"
    >
      <div class="flex-col justify-start items-start gap-14 flex">
        <div
          class="w-[830px] px-[41px] justify-start items-start gap-14 inline-flex"
        >
          <img
            class="w-[210px] h-[210px] relative rounded-[105px]"
            src="../../../assets/Images/pp.png"
          />
          <div
            class="w-[141.08px] h-[55px] text-slate-800 text-[50px] font-bold font-['Exo'] leading-[55px]"
          >
            marta
          </div>
        </div>

        <div>
          <span class="border rounded-xl border-gray-500 p-1 ml-16"><i class="pi pi-cog p-3 "> SETTINGS</i></span>
        </div>

        <p-tabView>
          <p-tabPanel header="Activity">
            <p-tabView>
              <p-tabPanel header="Personal" id="sub">

              </p-tabPanel>
              <p-tabPanel header="Mentions" id="sub">

              </p-tabPanel>
              <p-tabPanel header="Favorites" id="sub">

              </p-tabPanel>
          </p-tabView>
          </p-tabPanel>
          <p-tabPanel header="Favorites">

          </p-tabPanel>
          <p-tabPanel header="Settings">

          </p-tabPanel>
      </p-tabView>
      </div>

      <div
        class="w-[1170px] flex-col justify-start items-start gap-[189px] flex"
      >
        <div class="flex-col justify-start items-start gap-[89px] flex">
          <div class="flex-col justify-start items-end gap-[30px] flex">
            <div class="flex-col justify-start items-start gap-[15px] flex">
              <div
                class="py-[35px] flex-col justify-start items-start gap-2.5 flex"
              >
                <div
                  class="w-[1170px] pr-[879.63px] pb-px border-b border-zinc-200 justify-start items-center inline-flex"
                >
                  <div
                    class="self-stretch justify-start items-start gap-5 inline-flex"
                  >
                    <div class="justify-start items-start gap-5 flex">
                      <div
                        class="h-[35px] pl-2.5 pr-[9.61px] pt-1.5 pb-[9px] border-b-2 border-blue-700 justify-center items-center flex"
                      >
                        <div
                          class="w-[61.89px] h-5 text-blue-700 text-[15px] font-semibold font-['Exo'] leading-snug"
                        >
                          Personal
                        </div>
                      </div>
                      <div
                        class="h-[35px] pl-2.5 pr-[9.60px] pt-1.5 pb-[9px] justify-center items-center flex"
                      >
                        <div
                          class="w-[64.79px] h-5 text-slate-800 text-[15px] font-semibold font-['Exo'] leading-snug"
                        >
                          Mentions
                        </div>
                      </div>
                    </div>
                    <div
                      class="h-[35px] pl-2.5 pr-[9.60px] pt-1.5 pb-[9px] justify-center items-center flex"
                    >
                      <div
                        class="w-[64.88px] h-5 text-slate-800 text-[15px] font-semibold font-['Exo'] leading-snug"
                      >
                        Favorites
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="w-[305.21px] h-[38px] text-slate-800 text-4xl font-bold font-['Exo'] leading-[38px]"
              >
                Member Activities
              </div>
            </div>

            <!--form-->
            <div
              class="w-60 px-px bg-white rounded-[5px] border border-stone-300 justify-center items-center inline-flex"
            >
              <div
                class="grow shrink basis-0 h-10 pl-[15px] pr-[124.96px] pt-2.5 pb-[11px] justify-start items-center inline-flex"
              >
                <div
                  class="w-[98.04px] h-[19px] text-slate-800 text-sm font-normal font-['Exo'] leading-10"
                >
                  — Everything —
                </div>
              </div>
            </div>
          </div>
          <div class="justify-start items-center gap-5 inline-flex">
            <div
              class="w-5 h-5 bg-cyan-600 rounded-[10px] justify-center items-center flex"
            >
              <div
                class="w-[20.32px] h-5 text-center text-white text-sm font-normal font-['Open Sans'] leading-[18px]"
              >
                !
              </div>
            </div>
            <div
              class="w-[376.60px] h-[22px] text-slate-800 text-sm font-normal font-['Open Sans'] leading-snug"
            >
              Sorry, there was no activity found. Please try a different filter.
            </div>
          </div>
        </div>
        <div class="justify-start items-start gap-[25px] inline-flex">
          <div class="justify-start items-start gap-7 flex">
            <div
              class="flex-col justify-start items-center gap-[3px] inline-flex"
            >
              <div
                class="w-[86px] px-px bg-neutral-100 rounded-[5px] border border-zinc-300 justify-start items-end gap-[13px] inline-flex"
              >
                <div
                  class="w-[84px] h-0.5 relative rounded-tl-[3px] rounded-tr-[3px] border-t-2 border-cyan-400"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="">
  <label class="cursor-pointer" for="file">
    <span class=" "></span>
    <span class="">Change Image</span>
  </label>
  <input class="hidden" id="file" type="file" onchange="loadFile(event)" />
  <img
    class="rounded-full"
    src="./assets/images/user.png"
    id="output"
    width="200"
  />
</div>
  <a class="text-blue-500 border-blue-500 rounder-full" href="#">settings</a>





<!--
  <p-tabView>
    <p-tabPanel class="border-b-2" header="activity">
      <p-tabPanel class="border-b-2" header="notification">
        <ng-template pTemplate="content">
          <p-tabPanel class="border-b-2" header="settings">
            <ng-template pTemplate="content"> bye</ng-template>
            <p-tabView>
              <p-tabPanel header="personal">
                <div>
                  <h1>member activities</h1>
                  <div class="h-40 border-2">
                    <a
                      class="text-black bg-blue-800 rounded-full px-4 py-3"
                      href="#"
                      >post update</a
                    >
                    <hr class="h-4 w-10/12 mt-0.5" />
                  </div>
                </div>
              </p-tabPanel>
            </p-tabView> </p-tabPanel></ng-template></p-tabPanel></p-tabPanel
  ></p-tabView>
          -->
</div>
