
<body>
    
    <label class="relative top-24 left-20 text-2xl text-main"> Course Title </label> <br>

    <input type="text" name="" id="" class="ml-20 relative top-28 h-10 w-[800px]"> <br>
   
    <label class="relative top-36 left-20 text-2xl text-main"> Category </label> <br>
   
    <div class="mt-40 relative left-20">  
    <select class="w-[800px] inher"
     name="category">
                <option value=""
            label="Choose category">
        Choose category                </option>
                <option value="50"
            label="Art">
        Art                </option>
                <option value="51"
            label="- Artism">
        - Artism                </option>
                <option value="52"
            label="- Art Conceptuel">
        - Art Conceptuel                </option>
                <option value="56"
            label="- Minimalisme">
        - Minimalisme                </option>
                <option value="62"
            label="- La photographie">
        - La photographie                </option>
                <option value="64"
            label="- Des photos">
        - Des photos                </option>
                <option value="67"
            label="- Post-impressionnisme">
        - Post-impressionnisme                </option>
                <option value="71"
            label="- Sculpture">
        - Sculpture                </option>
                <option value="77"
            label="- Art textile">
        - Art textile                </option>
                <option value="78"
            label="- Théâtre">
        - Théâtre                </option>
                <option value="82"
            label="- Art vidéo">
        - Art vidéo                </option>
                <option value="195"
            label="Bases de l'informatique">
        Bases de l'informatique                </option>
                <option value="197"
            label="Commercialisation">
        Commercialisation                </option>
                <option value="55"
            label="Conception Matérielle">
        Conception Matérielle                </option>
                <option value="57"
            label="- Minimalist Design">
        - Minimalist Design                </option>
                <option value="58"
            label="- Motions">
        - Motions                </option>
                <option value="65"
            label="- Polycarbonate">
        - Polycarbonate                </option>
                <option value="72"
            label="- Shapes">
        - Shapes                </option>
                <option value="81"
            label="- Usability">
        - Usability                </option>
                <option value="86"
            label="- Concept d'impression 3D">
        - Concept d'impression 3D                </option>
                <option value="96"
            label="- Colors Choosing">
        - Colors Choosing                </option>
                <option value="97"
            label="- Communication">
        - Communication                </option>
                <option value="98"
            label="- Placement des composants">
        - Placement des composants                </option>
                <option value="110"
            label="- Interaction">
        - Interaction                </option>
                <option value="194"
            label="Électronique">
        Électronique                </option>
                <option value="74"
            label="Formation au logiciel">
        Formation au logiciel                </option>
                <option value="79"
            label="- Unity">
        - Unity                </option>
                <option value="80"
            label="- Unreal Engine 4">
        - Unreal Engine 4                </option>
                <option value="87"
            label="- Analyse des algorithmes">
        - Analyse des algorithmes                </option>
                <option value="88"
            label="- Apache">
        - Apache                </option>
                <option value="94"
            label="- C++">
        - C++                </option>
                <option value="99"
            label="- Cryomoteur">
        - Cryomoteur                </option>
                <option value="102"
            label="- Économie et finances">
        - Économie et finances                </option>
                <option value="105"
            label="- Frostbite">
        - Frostbite                </option>
                <option value="114"
            label="- Nvidia">
        - Nvidia                </option>
                <option value="115"
            label="- PHP, CSS, JS">
        - PHP, CSS, JS                </option>
                <option value="196"
            label="La biologie">
        La biologie                </option>
                <option value="63"
            label="La photographie">
        La photographie                </option>
                <option value="68"
            label="- Real things">
        - Real things                </option>
                <option value="85"
            label="- 360 photos">
        - 360 photos                </option>
                <option value="89"
            label="- Architectural">
        - Architectural                </option>
                <option value="90"
            label="- Astrophoto">
        - Astrophoto                </option>
                <option value="101"
            label="- Documentary">
        - Documentary                </option>
                <option value="104"
            label="- Fashion">
        - Fashion                </option>
                <option value="106"
            label="- Graphic &amp; Web-design">
        - Graphic &amp; Web-design                </option>
                <option value="108"
            label="- Illuminate">
        - Illuminate                </option>
                <option value="112"
            label="- Landscape">
        - Landscape                </option>
                <option value="113"
            label="- Nature">
        - Nature                </option>
                <option value="198"
            label="Mathématiques">
        Mathématiques                </option>
                <option value="59"
            label="Musique">
        Musique                </option>
                <option value="60"
            label="- Théâtre musical">
        - Théâtre musical                </option>
                <option value="66"
            label="- Populaire">
        - Populaire                </option>
                <option value="69"
            label="- Osciller">
        - Osciller                </option>
                <option value="75"
            label="- Musique soul">
        - Musique soul                </option>
                <option value="92"
            label="- Bleues">
        - Bleues                </option>
                <option value="95"
            label="- Classique">
        - Classique                </option>
                <option value="103"
            label="- Électronique">
        - Électronique                </option>
                <option value="107"
            label="- Hip hop">
        - Hip hop                </option>
                <option value="109"
            label="- Indé">
        - Indé                </option>
                <option value="111"
            label="- Le jazz">
        - Le jazz                </option>
                <option value="53"
            label="Sciences environnementales">
        Sciences environnementales                </option>
                <option value="54"
            label="- Aptitude">
        - Aptitude                </option>
                <option value="61"
            label="- Nutrition">
        - Nutrition                </option>
                <option value="70"
            label="- En cours">
        - En cours                </option>
                <option value="73"
            label="- Skiing">
        - Skiing                </option>
                <option value="76"
            label="- natation">
        - natation                </option>
                <option value="83"
            label="- Musculation">
        - Musculation                </option>
                <option value="84"
            label="- Entraînement">
        - Entraînement                </option>
                <option value="91"
            label="- Aller à vélo">
        - Aller à vélo                </option>
                <option value="93"
            label="- La Musculation">
        - La Musculation                </option>
                <option value="100"
            label="- Danse">
        - Danse                </option>
                <option value="199"
            label="Traitement Des signaux numériques">
        Traitement Des signaux numériques                </option>
        </select>
   
        <div>
        <label class="text-main text-2xl relative top-6"> Add category </label>
   
       <div class="">
   
           <input type="text"
                  id="new_category"
                  placeholder="Enter name" class="relative top-9 w-[800px]"/> <br>
     <label class="relative top-16 text-main text-2xl">Choose parent category</label> <br>
        <select class="relative top-20 w-[800px]">
           <option value="0">Choose category</option>
           <option value="50">Art</option>
           <option value="195">Bases de l&#039;informatique</option>
           <option value="197">Commercialisation</option>
           <option value="55">Conception Matérielle</option>
           <option value="194">Électronique</option>
           <option value="74">Formation au logiciel</option>
           <option value="196">La biologie</option>
           <option value="63">La photographie</option>
           <option value="198">Mathématiques</option>
           <option value="59">Musique</option>
           <option value="53">Sciences environnementales</option>
           <option value="199">Traitement Des signaux numériques</option>
    </select>
    </div>
       </div>
   
       
   
   <div class="mb-4 border-b border-gray-200 dark:border-gray-700 relative top-24">
       <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
           <li class="me-2" role="presentation">
               <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
           </li>
           <li class="me-2" role="presentation">
               <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</button>
           </li>
           <li class="me-2" role="presentation">
               <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
           </li>
           <li role="presentation">
               <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Contacts</button>
           </li>
       </ul>
   </div>
   <div id="default-tab-content">
       <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
           <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Profile tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
       </div>
       <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
           <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
       </div>
       <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="settings" role="tabpanel" aria-labelledby="settings-tab">
           <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
       </div>
       <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
           <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Contacts tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
       </div>
   </div>


    

    
 



<script src="../path/to/flowbite/dist/flowbite.min.js"></script>
      