
<header class="overflow-hidden background-img">
    <div class="bg-[#012e5a] h-10 info-font w-[100%]">
    <nav class="flex justify-between flex-wrap items-center w-[100%] mx-auto">

      <div class="pl-20">
        <ul class="flex items-center gap-[2vw] ml-16">
          <li>
            <mat-icon class="top-icons text-white">call</mat-icon>
            <span class="text-white text-[12px]">251-116-674192 | 62</span>
          </li>

          <li>
            <mat-icon class="top-icons text-white">place</mat-icon>
            <span class="text-white text-[12px]">Bole Medhanealem, Abyssina Building 3rd floor</span>
          </li>

          <li>
            <mat-icon class="top-icons text-white">access_time</mat-icon>
            <span class="text-white text-[12px]">Mon - Sat 8.30 - 11.00 </span>
          </li>
        </ul>
      </div>

      <div class="pr-20">
        <ul class=" flex items-center gap-[0.5vw] mr-24">

          <li>
            <mat-icon class="relative top-1 text-lg text-white">person</mat-icon>
          </li>

          <li>
            <a href="" class="inline-block mt-2 text-white text-[12px]">Login</a>
          </li>
  
          <li class="text-white">
            <span>| </span>
            <a href="" class="inline-block mt-2 text-[12px]">Register</a>
          </li>
        </ul>
      </div>
        
    </nav>
    </div>

    <div class="mr-auto ml-auto pl-40 pr-4 pt-7 flex gap-[25vw]">
      
      <div class="align-middle">
        <a href="https://lms.goodgradestudent.com/"><img src="../../../assets/Images/good.webp" alt="" class="w-64 h-auto"></a>
      </div>

      <div>
        <ul class="flex flex-wrap gap-[2vw] mt-5 text-white font-[Roboto, sans-serif] text-base font-medium">
          <li class="home-nav"><a href="https://lms.goodgradestudent.com/">HOME</a></li>
          <li class="home-nav"><a href="https://lms.goodgradestudent.com/courses/">COURSES</a></li>
          <li class="home-nav"><a href="https://lms.goodgradestudent.com/about-us/">ABOUT US</a></li>
          <li class="home-nav"><a href="https://lms.goodgradestudent.com/contact-us">CONTACT US</a></li>
          <li class="home-nav"><a href="https://lms.goodgradestudent.com/shop/">LIBRARY</a></li>
          <li><a href="https://lms.goodgradestudent.com/user-account"><mat-icon>favorite_border</mat-icon></a></li>
          <li><span  class="border-solid border-[3.3px] border-x-white text-[20px]  search-icon"><mat-icon class="py-1 font-medium" >search</mat-icon></span></li>
        </ul>
      </div>
       
    </div>

    <div class="text-white ml-60 mt-10">
      <div class="">
        <p class="text-[24px] font-extrabold text-main rev-block">
          <span>
          GOOD GRADE STUDENT MAKES SCHOOLING FUN!
        </span></p>
        <p class="text-[100px] pt-20 absolute text-main font-[800] rev-block">
          <span>
            BE BETTER
          </span>
        
        </p>
        <p class="text-[100px] pt-40 absolute text-main font-[800] rev-block">
          <span>
            LEARN BETTER
          </span>
          
        </p>
      </div>
     
    </div>
    
</header>

<div>
  <div class="flex justify-between flex-wrap items-center w-[100%] mx-auto mt-6">
    <span class="px-28 text-3xl text-main font-semibold">TOP COURSES</span>
    <div class="mr-24 border-course-order p-3 ">
      <select  id="course-order" class="w-64 select-box"> 
        <option value="newest">Release Date (newest first)</option> 
        <option value="oldest">Release Date (oldest first)</option> 
        <option value="overall">Overall Rating</option> 
        <option value="popular">Popular (most viewed)</option> 
    </select>
    </div>
  </div>

  <div class="relative mt-16 ml-32 mr-32 overflow-hidden">
     <ul class="grid grid-cols-4 gap-x-0 gap-y-20 text-main">
      <li *ngFor="let course of courses" >
        <div class="h-full ">
          <div>
            <img [src]="course.img" class="w-[282px] h-32">
          </div>
        
          <div class="border-course h-36 w-[282px]">
            <div class="relative left-2 top-3 text-gray-400">   
              {{course.courseCategory}}
            </div>
            <div class="relative left-2 top-5 font-bold">
              {{course.courseName}}
            </div>
            <hr />
            <div class="relative top-16 flex gap-[140px]">
              <span class="ml-2 text-sm flex flex-nowrap  text-[12px]"><mat-icon class="text-[17px] relative top-[1px] ">query_builder</mat-icon>{{course.courseDuration}}</span>
              <span class="font-bold">{{course.courseAccess}}</span>
            </div>
            
          </div>
        </div>
        
        
      </li>
     </ul>
  </div>

  

</div>

<div class="main-img relative top-24 w-[100%] flex flex-nowrap">
  <div class="w-[50%]">
    <h1 class="text-main relative py-40 px-72 whitespace-nowrap ">
      <span class="text-white font-bold text-4xl">Get Your Training</span><span class="text-[#eab830] font-semibold text-4xl"> For Free</span>
    </h1>
    <div class="triangle-separator relative -top-28 left-32">
     <div class="triangle">
     </div>
    </div>
  </div>
  
  
  <div class="relative w-[276px] mt-32 ">
    <div class="relative ml-40 mr-56">
      <section class="listing-apply bg-white border rounded relative h-[400px] w-[420px] pr-12 pl-9 pt-12">
        <h2 class="text-center w-[276] h-[47px]"><span class="text-4xl text-main font-semibold">Sign up now</span></h2>

        <form [formGroup]="applyForm" class="flex flex-col" (submit)="submitApp()">

         <div class="flex flex-col gap-4 relative left-10">
          <input type="text" formControlName="name" id="name" placeholder="Whats your name..." class="bg-[#EEEFEF] text-center top-6 w-[276px] h-[47px] focus:bg-white" required>
          <input type="email" formControlName="email" id="email" placeholder="Whats your email..." class="bg-[#EEEFEF] text-center top-4 w-[276px] h-[47px] focus:bg-white" required>
          <input type="text" formControlName="phone" id="phone" placeholder="Phone..." class="bg-[#EEEFEF] text-center top-4 w-[276px] h-[47px] focus:bg-white" required>
         </div> 

         <div class="relative top-[70px]">
          <button type="submit" class=" relative center-btn  bg-[#012E5A] text-white w-[135px] p-6"><span class="relative bottom-2 text-main font-semibold">GET IT!</span></button>
         </div>
    
          
        </form>
      </section>
    </div>
  </div>
  
</div>


