<header class="overflow-hidden background-img">
  <div class="bg-[#012e5a] h-10 info-font w-[100%]"></div>

  <div class="mr-auto ml-auto pl-[400px] pr-[400px] pt-7 flex gap-[10vw]">
    <div class="align-middle">
      <a href="https://lms.goodgradestudent.com/"
        ><img src="../../../assets/Images/good.webp" alt="" class="w-64 h-auto"
      /></a>
    </div>
    <div>
      <ul
        class="flex flex-wrap gap-[2vw] mt-5 text-black font-[Roboto, sans-serif] text-base font-medium"
      >
      <li class="home-nav">
        <a [routerLink]="['/home']">HOME</a>
      </li>
        <li class="home-nav"><a [routerLink]="['/coursepage']">COURSES</a></li>
        <li class="home-nav"><a href="/about-us">ABOUT US</a></li>
        <li class="home-nav"><a [routerLink]="['/cont']">CONTACT US</a></li>
        <li class="home-nav">
          <a href="https://lms.goodgradestudent.com/shop/">LIBRARY</a>
        </li>
        <li>
          <a [routerLink]="['/addcourse']"
            ><mat-icon>favorite_border</mat-icon></a
          >
        </li>
        <li>
          <span
            class="border-solid border-[3.3px] border-x-white text-[20px] search-icon"
            ><mat-icon class="py-1 font-medium">search</mat-icon></span
          >
        </li>
      </ul>
    </div>
  </div>
</header>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>

<div class="bg-[#F6F6F6] mt-5">
  <hr class="h-1 bg-[#DDDDDD]" />
  <p
    class="text-[#aaaaaa] xl:px-[400px] lg:px-[200px] md:px-[50px] mb-99px pb-2 pt-[9px] txt-main text-xs"
  >
    <a routerLink="">GOODGRADESTUDENT<span>&nbsp;</span>><span>&nbsp;</span></a
    >CONTACT US
  </p>
</div>
<section class="pb-16 pt-5 xl:px-[400px] lg:px-[50px] md:px-[20px] txt-main">
  
  <section>
    <div class="flex flex-col md:flex-row">
      <div class="lg:w-1/2">
        <p class="text-[22px] font-bold txt-main pb-5">Contact Info:</p>
        <hr class="bg-[#DDDDDD] w-[100%] mb-6" />
        <span class="flex"
          ><img
            class="w-12 h-12 -ml-1 mr-1"
            src="https://i.pinimg.com/564x/11/1a/ce/111ace886e8c6ca6212480421212f4fe.jpg"
            alt=""
          /><label class=""
            >Postal Address:
            <p class="text-gray-500">
              PO Box Bole Medhanealem, Abyssina Building 3rd floor
            </p></label
          ></span
        >
        <hr class="bg-[#DDDDDD] w-[100%] my-5" />
        <div class="flex flex-col md:flex-row">
          <span class="flex lg:w-1/2"
            ><img
              class="w-10 h-10 mr-2"
              src="https://i.pinimg.com/564x/c2/72/42/c272424265d90a12223f739378f7dfe1.jpg"
              alt=""
            /><label class="md:pr-16"
              >Phone:
              <p class="text-gray-500">251-116-674192 | 62</p></label
            ></span
          >
          <span class="flex"
            ><img
              class="w-10 h-10 mr-2"
              src="https://i.pinimg.com/564x/9f/46/a9/9f46a98eeeb212712018f0e0c781ccaa.jpg"
              alt=""
            /><label class=" "
              >Skype:
              <p class="text-gray-500">creavers</p></label
            ></span
          >
        </div>
        <hr class="bg-[#DDDDDD] w-[100%] my-5" />
        <div class="flex flex-col md:flex-row">
          <span class="flex lg:w-1/2">
            <img
              class="w-10 h-10 mr-2"
              src="https://i.pinimg.com/564x/4b/25/93/4b2593fd1ed960f96a0d8fc74adb11a8.jpg"
              alt=""
            /><label class="pr-16"
              >Email::
              <p class="text-gray-500">contact@creavers.com</p></label
            ></span
          >
          <span class="flex"
            ><img
              class="w-10 h-10 mr-2"
              src="https://i.pinimg.com/564x/a5/22/44/a5224436a458bc18bde5341af3cd81b6.jpg"
              alt=""
            /><label class=" "
              >Web:
              <p class="text-gray-500">creavers.com</p></label
            ></span
          >
        </div>
      </div>
      <div class="w-1/2 pl-5">
        <p class="text-[22px] font-bold txt-main pb-5">Location Info:</p>
        <div class="wpb_map_wraper" (click)="openInGoogleMaps()">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15763.025823255834!2d38.7906365!3d8.9945437!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x34a8a982337dab6b!2sCREAVERS!5e0!3m2!1sam!2set!4v1656674221030!5m2!1sam!2set"
            width="550"
            height="266"
            style="border: 0px; pointer-events: none"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            frameborder="0"
          ></iframe>
        </div>
      </div>
    </div>
    <div class="flex justify-between pt-10">
      <hr class="h-[3px] w-[4%] bg-blue-900" />
      <hr class="h-1 w-[94%] mt-0.5" />
    </div>
    <div>
      <p class="text-[22px] font-bold txt-main py-10">Feedback</p>
      <form
        [formGroup]="feedbackForm"
        class="lg:w-[60%]"
        (ngSubmit)="submitForm($event)"
      >
        <div class="flex flex-col sm:flex-row mb-5 txt-main">
          <input
            class="w-full sm:w-1/2 sm:mr-2 mb-2 sm:mb-0 border border-gray-200 rounded py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            type="text"
            formControlName="name"
            placeholder="Your name"
            required
          />
          <input
            class="w-full sm:w-1/2 sm:ml-2 border border-gray-200 rounded py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            type="email"
            formControlName="email"
            placeholder="Your email"
            required
          />
        </div>
        <textarea
          class="w-full mt-5 border border-gray-200 rounded"
          formControlName="message"
          rows="10"
          required
        ></textarea>
        <br />
        <br />
        <button
          type="submit"
          class="bg-[#002E5B] text-white font-bold py-4 px-12 txt-main"
        >
          SUBMIT
        </button>
      </form>
    </div>
  </section>

  <!-- share option -->

  <div class="flex flex-wrap sm:justify-start pt-10">
    <!-- Facebook Share -->
    <div class="bg-[#1877F2] w-20 h-5 mr-2 lg:mr-5 rounded mt-0.5 pt-0.5">
      <p class="text-white text-xs text-center">
        <a
          href="https://www.facebook.com/sharer/sharer.php?u=https://lms.goodgradestudent.com/contact-us/"
          rel="nofollow"
          target="_blank"
        >
          <i class="fab fa-facebook-f text-blue-600 bg-white rounded-full pl-1"
            ><span>&nbsp;</span></i
          >
          <span>&nbsp;</span>Share
        </a>
      </p>
    </div>

    <!-- Twitter Share -->
    <div class="bg-[#F7F7F7] w-20 h-7  mr-2 lg:mr-5">
      <hr class="h-0.5 bg-[#1DCAFF]" />
      <p class="text-black text-center rounded border border-gray-200">
        <a
          href="https://twitter.com/intent/tweet?url=https://lms.goodgradestudent.com/contact-us/"
          rel="nofollow"
          target="_blank"
        >
          <i class="fab fa-twitter text-[#1DCAFF]"><span>&nbsp;&nbsp;</span></i>
          Tweet
        </a>
      </p>
    </div>

    <!-- Pinterest Share -->
    <div class="bg-[#F7F7F7] w-20 h-7 mr-2 lg:mr-5">
      <hr class="h-0.5 bg-[#C92228]" />
      <p class="text-black text-center rounded border border-gray-200">
        <a
          href="https://pinterest.com/pin/create/button/?url=https://lms.goodgradestudent.com/contact-us/"
          rel="nofollow"
          target="_blank"
        >
          <i class="fab fa-pinterest text-[#C92228]"
            ><span>&nbsp;&nbsp;</span></i
          >
          Share
        </a>
      </p>
    </div>

    <!-- LinkedIn Share -->
    <div class="bg-[#F7F7F7] w-20 h-7 mr-2 lg:mr-5">
      <hr class="h-0.5 bg-[#3F729B]" />
      <p class="text-black text-center rounded border border-gray-200">
        <a
          href="http://www.linkedin.com/sharing/share-offsite/?url=https://lms.goodgradestudent.com/contact-us/"
          rel="nofollow"
          target="_blank"
        >
          <i class="fab fa-linkedin text-[#3F729B]"
            ><span>&nbsp;&nbsp;</span></i
          >
          Share
        </a>
      </p>
    </div>

    <!-- Digg Share -->
    <div class="bg-[#F7F7F7] w-20 h-7 mr-2 lg:mr-5">
      <hr class="h-0.5 bg-[#2169A8]" />
      <p class="text-black text-center rounded border border-gray-200">
        <a
          href="http://digg.com/submit?url=https://lms.goodgradestudent.com/contact-us/"
          rel="nofollow"
          target="_blank"
        >
          <i class="fab fa-digg text-[#2169A8]"><span>&nbsp;&nbsp;</span></i>
          Share
        </a>
      </p>
    </div>
  </div>
</section>
